/* 
    css files that defines colors used by the site
*/

:root {
    --mainBGBot: #5b8a8f;
    --mainBGTop: #252836;

    --shopBg: #283845;
    --shopShadow: #000000;
    --shopTitleBg: #705555;

    --topBarBg: #283845;
    --topBarShadow: #000000;

    --currencyBg: #829191;

    --TimerBG: #829191;

    /* Hp bar */
    --hpBarBg: #454955;
    --hpBarShadow: #0d0a0b;
    --hpBarFill: #a10702;

    /* button styles */
    --buttonBG: #586f7c;
    --buttonHoverBg: #8daaa9;
    --buttonShadow: #000000;

    --shopButtonBG: #586f7c;
    --shopButtonHoverBg: #8daaa9;
    --shopButtonShadow: #0a0a0a;

    --mainText: #edf2f4;
    --secondaryText: #aaa9a9;
}